html {
    background-color: #D0E4F5;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 0% 100%;
}

body {
    font-family: sans-serif;
    text-align: center;   
}

.topnav {
	background-color: #a6d4fd;
	overflow: hidden;
}

.topnav img {
	width: 150px;
	height: auto;
	float: right;
}

.topnav span {
	float: left;
	background-color: #a6d4fd;
	text-align: center;
	padding: 14px 16px;
	font-size: 20px;
	font-weight: bold;
}

.topnav a {
	float: left;
	background-color: #a6d4fd;
	text-align: center;
	padding: 14px 16px;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #8ac8ff;
	color: black;
}

.column {
    float: left;
    width: 50%;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  