{% extends 'base.html' %}

{% block head %}
<title>DAS</title>
{% endblock %}

{% block body %}

<table class="center">
	<tr>
		<th><text>File name</text></th>
		<th><text>uploaded/modified</text></th>
		<th><text>graphs against time</text></th>
		<th><text>graphs against position</text></th>
	</tr>

	{% for name, date, date_str in file_list %}
	<tr>
		<td><a href={{url_for('download_uploaded_file', filename=name)}}>{{name}}</a></td>
		<td><text>{{date_str}}</text></td>
		<td><a href={{url_for('view_graph_against_time', filename=name, sensor="accel", function="raw")}}>graph</a></td>
		<td><a href={{url_for('view_graph_against_position', filename=name)}}>graph</a></td>
	</tr>
	{% endfor %}
</table>


{% endblock %}
