{% extends 'base.html' %}

{% block head %}
<title>DAS</title>
{% endblock %}

{% block body %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for msg in messages %}
      <text>ERROR: {{msg}}</text> <br/>
    {% endfor %}
  {% endif %}
{% endwith %}
<br/><br/>
<text>
  Welcome to the Data Analysis Script Web Application! 
  To start, make sure you have the appropiate csv file and upload it.
</text>
<br />
<text>
  Then select which sensor you want to see, and select a corresponding function.
  Lastly, click submit!
</text>
<br/>
<br/>
<br/>
<form action="/file-upload" method=post enctype=multipart/form-data>
    <label for="file">Upload CSV File:</label>
    <input type=file name=file>
	<br/>
	<br/>

    <label for="sensor">Select a Sensor:</label>
    <select name="sensor" id="sensor">
      <option value="accel">Acceleration</option>
      <option value="gyro">Gyro</option>
      <option value="temp">Temperature</option>
      <option value="wheelspeed">Wheelspeed</option>
    </select>
    <br><br>
  
    <label for="sensor">Select a Function:</label>
    <select name="function" id="function">
      <option value="raw">Raw</option>
      <option value="relmin">Relative Minimum</option>
      <option value="relmax">Relative Maximum</option>
      
      <!--
        No longer needed because displays these anyways
      <option value="avg">Average</option>
      <option value="absmin">Absolute Minimum</option>
      <option value="absmax">Absolute Maximum</option>
      -->

    </select>
    <br><br>
    <input type="submit" value="Submit">
  </form>

{% endblock %}

